<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aircraftVersion</key>
	<integer>1</integer>
	<key>shouldShowViewpointGuide</key>
	<true/>
	<key>shouldShowTrackGuide</key>
	<true/>
	<key>shouldShowTrackTripodGuide</key>
	<true/>
	<key>shouldShowTrackParallelGuide</key>
	<true/>
	<key>shouldShowOrbitGuide</key>
	<true/>
	<key>configVersion</key>
	<integer>1</integer>
	<key>isNopopup</key>
	<false/>
	<key>unitType</key>
	<string>Settings_General_Metric_KMS</string>
	<key>grid</key>
	<string>Img_camera_setting_none_0</string>
	<key>centerPoint</key>
	<string>Img_camera_setting_none_0</string>
	<key>isAFFocusAssist</key>
	<false/>
	<key>isMFFocusAssist</key>
	<false/>
	<key>isHistogram</key>
	<false/>
	<key>isOverExposureWarning</key>
	<false/>
	<key>isAutoDownloadPhoto</key>
	<false/>
	<key>isSubtitelAssFile</key>
	<false/>
	<key>antiFlicker</key>
	<string>Auto</string>
	<key>modelVersion</key>
	<string>V2.3.8</string>
	<key>cameraVersion</key>
	<string>V2.3.8</string>
	<key>isShowFlightRoute</key>
	<true/>
	<key>isCalibrateMapCoordinates</key>
	<false/>
	<key>isTipsForNoviceTrackForbidden</key>
	<false/>
	<key>isTipsForTrackNew</key>
	<false/>
	<key>mapType</key>
	<integer>0</integer>
	<key>gridStyle</key>
	<string>nil</string>
	<key>centerPointStyle</key>
	<string>nil</string>
	<key>isImageTransmission</key>
	<false/>
	<key>lowBatteryWarning</key>
	<integer>25</integer>
	<key>videoEncodingStandard</key>
	<string>H.264</string>
	<key>store</key>
	<string>Camera_Settings_AirborneFlashMemory</string>
	<key>criticalBatteryWarning</key>
	<integer>15</integer>
	<key>isRadarHidden</key>
	<false/>
	<key>smartFlightMode</key>
	<string>camera</string>
	<key>shouldShowWaypointGuide</key>
	<true/>
	<key>maxFlightSpeed</key>
	<real>5</real>
	<key>aircraftCoordinateType</key>
	<string>Settings_ShowAircraftCoordinate_None</string>
	<key>storeRaw</key>
	<integer>0</integer>
	<key>tempUnit</key>
	<string>0</string>
</dict>
</plist>
